{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Safe Banking For All</title>
{% endblock %}

{% block content %}
<div style="width: 360px; height: 736px; position: relative; background: white">
  <div style="height: 78px; padding-left: 16px; padding-right: 16px; padding-top: 18px; padding-bottom: 18px; left: 0px; top: 52px; position: absolute; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="align-self: stretch; color: #121212; font-size: 18px; font-family: Inter; font-weight: 700; line-height: 24px; word-wrap: break-word">Recent Transactions</div>
    <div style="align-self: stretch; color: #5B6776; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 18px; word-wrap: break-word">Keep track your financial plan</div>
  </div>
  <div style="width: 360px; height: 928px; padding-left: 16px; padding-right: 16px; padding-top: 72px; padding-bottom: 72px; left: 0px; top: 281px; position: absolute; background: #F7F8FD; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
    <div style="align-self: stretch; height: 820px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
      <div class="wallet">
        <div class="wallet-header">
          <div class="icon-title">
            <div class="wallet-icon">
              <div class="wallet-s-icon"></div>
      
              <img class="image-1" src="{% static 'core/icons/travel.png' %}" />
            </div>
      
            <div class="emergency-fund">Travel Plan</div>
          </div>
      
          <div class="last-paid-on-august-28-2022">Last Paid on June 24, 2023</div>
        </div>
      
        <div class="progress-status">
          <div class="progress-information">
            <div class="_10-000-20-000">
              <span
                ><span class="_10-000-20-000-span">$14,040</span
                ><span class="_10-000-20-000-span2"> </span
                ><span class="_10-000-20-000-span3">/ $20,000</span></span
              >
            </div>
      
            <div class="nominal">63%</div>
          </div>
      
          <div class="progress-visual">
            <div class="progress-bar">
              <div class="background"></div>
      
              <div class="progress"></div>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <div class="wallet">
      <div class="wallet-header">
        <div class="icon-title">
          <div class="wallet-icon">
            <div class="wallet-s-icon"></div>
    
            <img class="image-1" src="{% static 'core/icons/edu.png' %}" />
          </div>
    
          <div class="emergency-fund">Jeweries Shopping</div>
        </div>
    
        <div class="last-paid-on-august-28-2022">Last Paid on June 20, 2023</div>
      </div>
    
      <div class="progress-status">
        <div class="progress-information">
          <div class="_10-000-20-000">
            <span
              ><span class="_10-000-20-000-span">$280,000</span
              ><span class="_10-000-20-000-span2"> </span
              ><span class="_10-000-20-000-span3">/ $400,000</span></span
            >
          </div>
    
          <div class="nominal">56%</div>
        </div>
    
        <div class="progress-visual">
          <div class="progress-bar">
            <div class="background"></div>
    
            <div class="progress"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="wallet">
      <div class="wallet-header">
        <div class="icon-title">
          <div class="wallet-icon">
            <div class="wallet-s-icon"></div>
    
            <img class="image-1" src="{% static 'core/icons/food.png' %}" />
          </div>
    
          <div class="emergency-fund">Foods and Groceries</div>
        </div>
    
        <div class="last-paid-on-august-28-2022">Last Paid on June 28, 2023</div>
      </div>
    
      <div class="progress-status">
        <div class="progress-information">
          <div class="_10-000-20-000">
            <span
              ><span class="_10-000-20-000-span">$8,000</span
              ><span class="_10-000-20-000-span2"> </span
              ><span class="_10-000-20-000-span3">/ $15,000</span></span
            >
          </div>
    
          <div class="nominal">70%</div>
        </div>
    
        <div class="progress-visual">
          <div class="progress-bar">
            <div class="background"></div>
    
            <div class="progress"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="wallet">
      <div class="wallet-header">
        <div class="icon-title">
          <div class="wallet-icon">
            <div class="wallet-s-icon"></div>
    
            <img class="image-1" src="{% static 'core/icons/donate.png' %}" />
          </div>
    
          <div class="emergency-fund">Donation</div>
        </div>
    
        <div class="last-paid-on-august-28-2022">Last Paid on June 20, 2023</div>
      </div>
    
      <div class="progress-status">
        <div class="progress-information">
          <div class="_10-000-20-000">
            <span
              ><span class="_10-000-20-000-span">$10,000</span
              ><span class="_10-000-20-000-span2"> </span
              ><span class="_10-000-20-000-span3">/ $20,000</span></span
            >
          </div>
    
          <div class="nominal">50%</div>
        </div>
    
        <div class="progress-visual">
          <div class="progress-bar">
            <div class="background"></div>
    
            <div class="progress"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="wallet">
      <div class="wallet-header">
        <div class="icon-title">
          <div class="wallet-icon">
            <div class="wallet-s-icon"></div>
    
            <img class="image-1" src="{% static 'core/icons/edu.png' %}" />
          </div>
    
          <div class="emergency-fund">Unexpected Funds</div>
        </div>
    
        <div class="last-paid-on-august-28-2022">Last Paid on June 19, 2022</div>
      </div>
    
      <div class="progress-status">
        <div class="progress-information">
          <div class="_10-000-20-000">
            <span
              ><span class="_10-000-20-000-span">$10,000</span
              ><span class="_10-000-20-000-span2"> </span
              ><span class="_10-000-20-000-span3">/ $20,000</span></span
            >
          </div>
    
          <div class="nominal">50%</div>
        </div>
    
        <div class="progress-visual">
          <div class="progress-bar">
            <div class="background"></div>
    
            <div class="progress"></div>
          </div>
        </div>
      </div>
    </div>           
  </div>
  <div style="width: 328px; padding-top: 12px; padding-bottom: 12px; left: 16px; top: 1209px; position: absolute; background: #F7F8FD; box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03); border-radius: 6px; overflow: hidden; border-left: 0.50px #4F46E5 solid; border-top: 0.50px #4F46E5 solid; border-right: 0.50px #4F46E5 solid; border-bottom: 0.50px #4F46E5 solid; justify-content: center; align-items: center; gap: 12px; display: inline-flex">
    <div style="width: 40px; height: 40px; padding: 12px; background: #4F46E5; border-radius: 1000px; justify-content: center; align-items: center; gap: 4px; display: flex">
      <div style="width: 18px; height: 18px; position: relative">
        <div style="width: 9px; height: 9px; left: 4.50px; top: 4.50px; position: absolute; background: white"></div>
      </div>
    </div>
    <div style="color: #4F46E5; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 18px; word-wrap: break-word">Create New Wallet</div>
  </div>
  <div style="width: 360px; height: 52px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; left: 0px; top: 0px; position: absolute; background: white; border-bottom: 0.50px #E3E8EF solid; justify-content: space-between; align-items: center; gap: 24px; display: inline-flex">
    <div style="padding-left: 12px; padding-right: 12px; padding-top: 4px; padding-bottom: 4px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
      <div style="color: #4F46E5; font-size: 12px; font-family: Inter; font-style: italic; font-weight: 400; word-wrap: break-word">Baycoast</div>
    </div>
    <div style="width: 20px; height: 20px; position: relative">
      <div style="width: 14px; height: 12px; left: 3px; top: 4px; position: absolute; background: #64748B"></div>
    </div>
  </div>
  <div style="width: 325px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; left: 16px; top: 222px; position: absolute; background: white; box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03); border-radius: 6px; border-left: 0.50px #E2E8F0 solid; border-top: 0.50px #E2E8F0 solid; border-right: 0.50px #E2E8F0 solid; border-bottom: 0.50px #E2E8F0 solid; justify-content: space-between; align-items: flex-start; gap: 58px; display: inline-flex">
    <div style="width: 120px; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
      <div style="width: 40px; height: 40px; position: relative; background: #F7F8FD; border-radius: 1000px">
          <img style="width: 50px; height: 50px;" src="{% static 'core/icons/send.png' %}" alt="" srcset="">
      </div>
      <div style="align-self: stretch; text-align: center; color: #344055; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 18px; word-wrap: break-word">Send a payment</div>
    </div>
    <div style="width: 120px; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
      <div style="width: 40px; height: 40px; position: relative; background: #F8FAFC; border-radius: 1000px">
        <img style="width: 50px; height: 50px;" src="{% static 'core/icons/request.png' %}" alt="" srcset="">
      </div>
      <div style="align-self: stretch; text-align: center; color: #344055; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 18px; word-wrap: break-word">Request a payment</div>
    </div>
    <div style="width: 1px; height: 82px; left: 162px; top: 0px; position: absolute">
      <div style="width: 1px; height: 82px; left: 0px; top: 0px; position: absolute; background: #E3E8EF"></div>
    </div>
  </div>
  <div style="height: 87px; padding-left: 12px; padding-right: 12px; padding-top: 16px; padding-bottom: 16px; left: 16px; top: 123px; position: absolute; background: white; border-radius: 6px; border-left: 0.50px #E2E8F0 solid; border-top: 0.50px #E2E8F0 solid; border-right: 0.50px #E2E8F0 solid; border-bottom: 0.50px #E2E8F0 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
      <div style="flex: 1 1 0; height: 24px; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
        {% for account in accounts %}
        <div style="color: #121212; font-size: 18px; font-family: Inter; font-weight: 600; line-height: 24px; word-wrap: break-word">👋 </div>
        <div style="color: #121212; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; word-wrap: break-word">Hi {{account.first_name}}!</div>
        {% endfor %}
      </div>
      <div style="width: 32px; height: 32px; padding: 12px; border-radius: 1000px; justify-content: center; align-items: center; gap: 4px; display: flex">
        <div style="width: 18px; height: 18px; position: relative">
          <div style="width: 3.60px; height: 14.40px; left: 7.20px; top: 1.80px; position: absolute; background: #64748B"></div>
        </div>
      </div>
    </div>
    <div style="color: black; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">$895,654.34</div>
  </div>
</div>
{% endblock %}